@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #d6e0e9;
  --box-bg: #f9fafb;
  --primary: #0066b3;
  --secondary: #161e26;
  --tertiary: #a2b5c0;
  --text-contrast: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #161e26;
    --box-bg: #374151;
    --primary: #006bbd;
    --secondary: #d6e0e9;
    --tertiary: #607d8b;
    --text-contrast: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
